[Desktop Entry]
Name=Sparrow
Comment=Sparrow
Exec=/home/amnesia/Persistent/Sparrow/bin/Sparrow -d /home/amnesia/Persistent/Sparrow/data %U
Icon=/home/amnesia/Persistent/Sparrow/lib/Sparrow.png
Terminal=false
Type=Application
Categories=Finance;

